body {
    background-color: rgb(191,95,41,255);
}

.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.title {
    color: white;
    text-align: center;
}

.main {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-direction: row;

}

.cards {
    width: 60%;
}

.foto {
    background-color: rgb(222, 143, 82);
    padding: 20px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.column {
    flex: 1;
    padding: 10px;
    background-color: #e0e0e0;
    margin: 0 10px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

.image {
    max-width: 100%;
    width: 50%;
    border-radius: 15px;
}

@media (max-width: 768px) {
    .main {
        flex-direction: column;
        align-items: center;
    }

    .cards, .foto {
        width: 80%;
    }

    .cards {
        margin-bottom: 20px;
    }
}

